* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .animeLeftMobile {
    opacity: 0;
    transform: translateY(-20px);
    animation: animeLeft .3s forwards;
  }
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft .8s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}
